{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock title_block %}

{% block body_block %}
    <h1>This is the about page!</h1>
    <div>
        <p>Visits: {{ visits }}</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2>What is Rango?</h2><br />
                Rango is a social media link aggregation website!<br />
            </div>
            <div class="col-md-5">
                <h2>Our Goals:</h2><br />
                Our objectives in creating this website are to foster an information sharing community, 
                encourage user engagement, and facilitate discussions on a wide variety of topics.
            </div>
        </div>
    </div>
{% endblock %}