{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
About
{% endblock title_block %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container custom-inline">
        <h1>This is the about page!</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h2>What is Rango?</h2><br />
            <p>Rango is a  <strong>social media link aggregation website!</strong></p>
            <p>But it is also so much more than that!</p>
            <p>It's a place to find  <strong>interesting articles</strong> shared by  <strong>likeminded people</strong>. </p>
            <p>It's also a place where you can  <strong>connect</strong> with those same people and discuss almost any topic  <strong>you can imagine!</strong></p>
        </div>
        <div class="col-md-5">
            <h2>Our Goals:</h2><br />
            <p> <strong>Our objectives </strong> in creating this website are to foster an 
           <strong> information sharing community</strong>, encourage <strong>user engagement</strong>, and 
            facilitate <strong>discussions on a wide variety of topics</strong>.</p>
            
            <p>More specifically, <strong>our aims</strong> are to help introduce the wonderful 
            world of <strong>programming</strong> and <strong>computer science</strong> to those who may not 
            be familiar with it, <strong>but want to learn more</strong>.</p>

            <p>We also want to  <strong>help people discover new areas or topics</strong> within 
            these subjects to deepen their knowledge.</p>

            <p>All in all, we want to <strong>provide a place where education and 
            socialising go hand in hand</strong> to <strong> super charge everybody's 
            learning!</strong></p>
        </div>
    </div>
</div>
{% endblock %}