{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add a Page
{% endblock title_block %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container custom-inline">
        <h1>{{category.name}} - Add a Page</h1>
	</div>
</div>

<div class="container">
    <div class="row">
        <form id="add_page_form" method="POST" action="{% url 'rango:add_page' category.slug %}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}

            {{ hidden }}

            {% endfor %}

            {% for field in form.visible_fields %}

            {{ field.errors }}
            {{ field.help_text }}
            {{ field.name_of_field }}
                <div class="form-floating">
                    <input type="text" name="{{field.name}}" class="form-control" id="floatingInput" placeholder="Username">
                    <label for="floatingInput">Please enter the page {{field.name}}.</label>
                </div><br />

            {% endfor %}
            <input class="btn btn-primary" type="submit" name="submit" value="Submit" />
        </form>
	</div>
</div>
    
    
{% endblock %}