{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add a Category
{% endblock title_block %}

{% block body_block %}
    <h1>Add a Category</h1>
    <div>

        <form id="category_form" method="POST" action="{% url 'rango:add_category' %}">

            {% csrf_token %}
            
            {% for hidden in form.hidden_fields %}

                {{hidden}}

            {% endfor %}

            {% for field in form.visible_fields %}
                
                {{ field.errors }}
                {{ field.help_text }}
                {{ field.name_of_field }}
                    <div class="form-floating">
                        <input type="text" name="name" class="form-control" id="floatingInput" placeholder="Username">
                        <label for="floatingInput">Please enter the category name.</label>
                    </div><br />

            {% endfor %}
                      
            <input class="btn btn-primary" type="submit" name="submit" value="Create Category" />
        </form>

    </div>
{% endblock %}