{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% if category %}
{{ category.name }}
{% else %}
Unknown Category
{% endif %}
{% endblock %}

{% block body_block %}
{% if category %}
<div class="jumbotron p-4">
    <div class="container custom-inline">
        <h1>{{ category.name }}</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{page.url}}">{{page.title}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No pages currently in category.</strong><br />
        {% endif %}

        {% if user.is_authenticated %}
        <input class="btn btn-primary add-page-button custom-centre"
            onclick="window.location.href = '{% url 'rango:add_page' category.slug %}'" value="Add Page" />
        {% endif %}
        <br />
        <br />
        {% if user.is_authenticated %}
        <form id="comment_form" method="POST" action="{% url 'rango:show_category' category.slug %}">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input class="btn btn-primary" type="submit" name="submit" value="Comment" />
        </form>
        <br />
        <br />
        {% else %}
        <p>You must register to leave a comment, do so <a href="{% url 'rango:register' %}">here</a>.</p>
        {% endif %}

        <div>
            {% if comments %}
            {% for comment in comments %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-2">
                        {% if comment.user.userprofile.picture %}
                        <img class="img-fluid rounded-start" src="{{ MEDIA_URL }}{{comment.user.userprofile.picture}}"
                            alt="{{comment.user.username}}'s profile picture">
                        {% else %}
                        <img class="img-fluid rounded-start" src="{% static 'images/default_user.jpg' %}"
                            alt="{{comment.user.username}}'s profile picture">
                        {% endif %}
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h4 class="card-title">{{ comment.user }}</h4>
                            <p class="card-text">{{ comment.text }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h4>There are no comments yet...</h4>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
The specified category does not exist.
{% endif %}
{% endblock  %}