{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Search
{% endblock  %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container custom-inline">
        <h1>Search with Rango!</h1><br />
    </div>
</div>
<div class="container">
    <div class="row">
        <form action="{% url 'rango:search' %}" method="GET">
            {% csrf_token %}
            <div class="form-floating"> 
                <input type="text" class="form-control" name="name" placeholder="Search">
                <label for="floatingInput">Search...</label><br />
                <input class="btn btn-primary centre" type="submit" name="submit" value="Search for a Category">
            </div>
        </form>
        {% if results %}
                <h3><strong>Results</strong></h3>
                <ul class="list-group">
                    {% for result in results %}
                    
                    <li class="list-group-item">
                        <h2><strong><a href="{% url 'rango:show_category' result.slug %}">{{ result.name }}</a></strong></h2>
                        <br />
                        <h4>Likes {{ result.likes }} - Views {{ result.views }}</h4>
                    </li>
                    {% endfor %}
                </ul>
        {% endif %}
    </div>
</div>
{% endblock  %}